input {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.toggle_button {
    padding: 5px !important;
    text-transform: capitalize !important;
}

.MuiOutlinedInput-input:focus {
    --tw-ring-inset: 0px
}

.customPicker .react-colorful {
    height: 104px;
}

.customPicker .react-colorful__hue {
    height: 15px;
}

.customPicker .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPicker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful {
    height: 70px;
}

.customPickerTwo .react-colorful__hue {
    height: 15px;
}

.customPickerTwo .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}
