input {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.toggle_button {
    padding: 5px !important;
    text-transform: capitalize !important;
}

.MuiOutlinedInput-input:focus {
    --tw-ring-inset: 0px
}

.customPicker .react-colorful {
    height: 104px;
}

.customPicker .react-colorful__hue {
    height: 15px;
}

.customPicker .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPicker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful {
    height: 70px;
}

.customPickerTwo .react-colorful__hue {
    height: 15px;
}

.customPickerTwo .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}

.cptlz {
    text-transform: capitalize !important;
}

.megaButton {
    height: 105px !important;
    font-size: 26px !important;
}

.megaButtonSquare {
    height: 225px !important;
    font-size: 32px !important;
}

.swal2-container {
    z-index: 9999
}

.editable-hover-border {
    outline: 2px solid red !important;
    cursor: pointer;
    z-index: 9999;
}

.app-anchor {
    cursor: pointer !important;
    text-decoration: underline !important;
    color: #3b7de3 !important;
}

.sticky-left-div {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
    /* optional: ensures it stays on top */
}

.iti {
    width: 100% !important;
}

.iti input {
    width: 100% !important;
    box-sizing: border-box;
    /* ensures padding doesn't break layout */
}

.iti__country-name {
    color: black !important;
}

.iti__selected-dial-code {
    color: black !important;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #000000;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.telInputs {
    padding-left: 45px !important
}


.swal-title-left {
    text-align: left !important;
    font-size: 22px !important;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
