input {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.toggle_button {
    padding: 5px !important;
    text-transform: capitalize !important;
}

.MuiOutlinedInput-input:focus {
    --tw-ring-inset: 0px
}

.customPicker .react-colorful {
    height: 104px;
}

.customPicker .react-colorful__hue {
    height: 15px;
}

.customPicker .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPicker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful {
    height: 70px;
}

.customPickerTwo .react-colorful__hue {
    height: 15px;
}

.customPickerTwo .react-colorful__hue-pointer {
    width: 15px;
    height: 15px
}

.customPickerTwo .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px
}

.cptlz {
    text-transform: capitalize !important;
}

.megaButton {
    height: 105px !important;
    font-size: 26px !important;
}

.megaButtonSquare {
    height: 225px !important;
    font-size: 32px !important;
}

.swal2-container {
    z-index: 9999
}

.editable-hover-border {
    outline: 2px solid red !important;
    cursor: pointer;
    z-index: 9999;
}
